SmartSwitchFlow.json
[{"id":"8a96622.73daa2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4e1b6d4c.67e4f4","type":"ui_switch","z":"8a96622.73daa2","name":"","label":"Switch","tooltip":"","group":"6351cbc8.a02e8c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":340,"wires":[["c892c1d6.266f7","9f8d2efb.d1b63"]]},{"id":"cda0b786.84765","type":"http request","z":"8a96622.73daa2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":340,"wires":[[]]},{"id":"c892c1d6.266f7","type":"function","z":"8a96622.73daa2","name":"MakeURL","func":"ip = \"192.168.1.101\";\nurl = \"http://\"+ip;\n\nif(msg.payload) msg.url = url+\"/on\";\nelse msg.url = url+\"/off\"\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["cda0b786.84765","36fc61b8.52e0b6"]]},{"id":"b1632963.5c61","type":"mqtt out","z":"8a96622.73daa2","name":"MQTT to ThingSpeak","topic":"channels/1090887/publish/UE9DUUOZZL60WQYT","qos":"0","retain":"false","broker":"e6caf48e.fa0a58","x":1060,"y":440,"wires":[]},{"id":"36fc61b8.52e0b6","type":"debug","z":"8a96622.73daa2","name":"HTTP Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":220,"wires":[]},{"id":"9f8d2efb.d1b63","type":"function","z":"8a96622.73daa2","name":"ThingspeakValue","func":"msg.payload = \"field1=\"+ (msg.payload? \"1\":\"0\") +\"&status=MQTTPUBLISH\";\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["6a1bc4b2.446044"]]},{"id":"bead8e46.6f18a8","type":"debug","z":"8a96622.73daa2","name":"MQTT Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":520,"wires":[]},{"id":"6a1bc4b2.446044","type":"delay","z":"8a96622.73daa2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"16","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":440,"wires":[["b1632963.5c61","bead8e46.6f18a8"]]},{"id":"6351cbc8.a02e8c","type":"ui_group","z":"","name":"Default","tab":"8aac61a6.08226","order":1,"disp":false,"width":"6","collapse":false},{"id":"e6caf48e.fa0a58","type":"mqtt-broker","z":"","name":"ThingSpeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8aac61a6.08226","type":"ui_tab","z":"","name":"Smart Switch dashboard","icon":"lightbulb_outline","disabled":false,"hidden":false}]