SmartSwitchFlow.json
[{"id":"8a96622.73daa2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4e1b6d4c.67e4f4","type":"ui_switch","z":"8a96622.73daa2","name":"","label":"Switch","tooltip":"","group":"6351cbc8.a02e8c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":340,"wires":[["c892c1d6.266f7","9f8d2efb.d1b63","cdd464c0.c9a0c8"]]},{"id":"cda0b786.84765","type":"http request","z":"8a96622.73daa2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":340,"wires":[[]]},{"id":"c892c1d6.266f7","type":"function","z":"8a96622.73daa2","name":"MakeURL","func":"ip = \"192.168.1.101\";\nurl = \"http://\"+ip;\n\nif(msg.payload) msg.url = url+\"/on\";\nelse msg.url = url+\"/off\"\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["cda0b786.84765","36fc61b8.52e0b6"]]},{"id":"b1632963.5c61","type":"mqtt out","z":"8a96622.73daa2","name":"MQTT to ThingSpeak","topic":"channels/1090887/publish/UE9DUUOZZL60WQYT","qos":"0","retain":"false","broker":"e6caf48e.fa0a58","x":1060,"y":440,"wires":[]},{"id":"36fc61b8.52e0b6","type":"debug","z":"8a96622.73daa2","name":"HTTP Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":280,"wires":[]},{"id":"9f8d2efb.d1b63","type":"function","z":"8a96622.73daa2","name":"ThingspeakValue","func":"msg.payload = \"field1=\"+ (msg.payload? \"1\":\"0\") +\"&status=MQTTPUBLISH\";\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["6a1bc4b2.446044"]]},{"id":"bead8e46.6f18a8","type":"debug","z":"8a96622.73daa2","name":"MQTT Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":520,"wires":[]},{"id":"6a1bc4b2.446044","type":"delay","z":"8a96622.73daa2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"16","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":440,"wires":[["b1632963.5c61","bead8e46.6f18a8"]]},{"id":"9dfcce2d.196ec","type":"ui_chart","z":"8a96622.73daa2","name":"","group":"6351cbc8.a02e8c","order":4,"width":0,"height":0,"label":"Activity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":200,"wires":[[]]},{"id":"cdd464c0.c9a0c8","type":"function","z":"8a96622.73daa2","name":"ChartValue","func":"msg.payload = msg.payload ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["9dfcce2d.196ec"]]},{"id":"5bf4bdfe.693e0c","type":"ui_numeric","z":"8a96622.73daa2","name":"","label":"Minutes","tooltip":"","group":"6351cbc8.a02e8c","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"120","step":1,"x":340,"y":120,"wires":[["8fba3837.73db88"]]},{"id":"6b2c5156.1b0cc","type":"ui_button","z":"8a96622.73daa2","name":"","group":"6351cbc8.a02e8c","order":3,"width":0,"height":0,"passthru":false,"label":"Set timer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":320,"y":700,"wires":[["82166c57.81ffc8"]]},{"id":"8fba3837.73db88","type":"change","z":"8a96622.73daa2","name":"Store timer value","rules":[{"t":"move","p":"payload","pt":"msg","to":"timerValue","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":120,"wires":[[]]},{"id":"82166c57.81ffc8","type":"change","z":"8a96622.73daa2","name":"Retrieve timer value","rules":[{"t":"set","p":"payload","pt":"msg","to":"timerValue","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":700,"wires":[["d478f0f1.38dd7"]]},{"id":"eba92444.3be698","type":"delay","z":"8a96622.73daa2","name":"Wait for timer","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":560,"wires":[["4e1b6d4c.67e4f4"]]},{"id":"d478f0f1.38dd7","type":"function","z":"8a96622.73daa2","name":"ToDelayMinutes","func":"msg.delay = msg.payload*60*1000;\nmsg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":700,"wires":[["eba92444.3be698"]]},{"id":"6351cbc8.a02e8c","type":"ui_group","z":"","name":"Default","tab":"8aac61a6.08226","order":1,"disp":false,"width":"6","collapse":false},{"id":"e6caf48e.fa0a58","type":"mqtt-broker","z":"","name":"ThingSpeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8aac61a6.08226","type":"ui_tab","z":"","name":"Smart Switch dashboard","icon":"lightbulb_outline","disabled":false,"hidden":false}]